@font-face {
    font-family: quicksand;
    src: url(font/Quicksand-VariableFont_wght.ttf);
}

html {
    font-family: quicksand;
}

body {
    color: #1b262c;
    background-color: #3282b8;
    padding: 0;
    margin: 0;
}

header {
    background-color: #3282b8;
}

header h1 {
    margin: 0;
    padding: 10px 5px;
}

footer {
    background-color: #3282b8;
    text-align: center;
    padding-top: 10px;
}

.content {
    background-color: #f0f9ff;
    padding: 20px 10px;
}

.input {
    outline: none;
    background: none;
    border: 2px solid #0f4c75;
    border-radius: 2px;
    font-family: quicksand;
}

.button {
    background-color: #3282b8;
    border: 1px solid #0f4c75;
    border-radius: 2px;
    box-shadow: -3px 3px #0f4c75, -2px 2px #0f4c75, -1px 1px #0f4c75;
    outline: none;
    margin-bottom: 3px;
    margin-left: 3px;
    font-family: quicksand;
    cursor: pointer;
    transition: 0.1s;
    padding: 5px;
}

.button:active {
    box-shadow: -1px 1px #0f4c75;
    transform: translate(-2px, 2px);
}

.small {
    font-size: 0.5em;
}

.normal {
    font-size: 1em;
}

.medium {
    font-size: 1.5em;
}

.large {
    font-size: 2em;
}

.body {
    max-width: 768px;
    margin: 0 auto;
}

.description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pad {
    padding: 5px;
}

.description-input {
    flex-grow: 1;
    padding: 5px;
    font-size: 1.25em;
    resize: none;
    overflow: hidden;
    margin: 0;
}

.draw {
    align-self: flex-end;
    width: 6em;
    font-size: 1.25em;
    font-weight: bold;
}

.canvas-container {
    border: 2px solid #0f4c75;
    border-radius: 2px;
    position: relative;
    width: 95%;
    height: auto;
    margin: 1em auto;
}

.toolbar {
    width: 95%;
    margin: 1em auto;
}

.toolbar button {
    margin-right: 1em;
}

.canvas {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.canvas-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3282b840;
    transition: 0.3s;
}

.canvas-shadow:hover {
    background-color: #3282b860;
}

.canvas-shadow .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#caret {
    transition: 0.3s;
}

.settings {
    transition: 1s;
    height: 4em;
    overflow: hidden;
    border-left: 1px solid #0f4c75;
}

.settings ul {
    list-style-type: none;
}

.settings[aria-hidden="true"] {
    height: 0;
}

.slider-container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 20px;
}

.slider-container::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #0f4c75;
    display: block;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.slider {
    width: 100%;
    height: 100%;
    outline: none;
    position: absolute;
    appearance: none;
    background: transparent;
    margin: 0;
    direction: rtl;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #0f4c75;
    width: 10px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #3282b8;
}

.slider:focus::-webkit-slider-thumb {
    background-color: #3282b8;
}

.slider::-moz-range-thumb {
    background-color: #0f4c75;
    width: 10px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.plain-link {
    text-decoration: none;
    color: #1b262c;
}

.copy {
    margin: 20px 0;
}

[aria-hidden="true"] {
    visibility: hidden;
}

.fade[aria-hidden="true"] {
    opacity: 0;
}

a {
    color: #0f4c75;
    cursor: pointer;
}
